<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="MainBnd" closeTimeout="09:01:00" openTimeout="09:01:00"
          receiveTimeout="09:10:00" sendTimeout="09:01:00" allowCookies="false"
          bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
          textEncoding="utf-8" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="" />
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
        <binding name="MainBnd1" />
      </basicHttpBinding>
    </bindings>

    <client>
      <endpoint address="http://192.9.10.12:3027/wsCaronte/wsCaronte.svc"
        binding="basicHttpBinding" bindingConfiguration="MainBnd" contract="IwsCaronte"
        name="Basic" />
      <endpoint address="http://192.9.10.12:3027/wsCaronte/wsCaronte.svc"
        binding="basicHttpBinding" bindingConfiguration="MainBnd1" contract="wsCaronte.IwsCaronte"
        name="MainBnd" />
    </client>

    <behaviors>

    </behaviors>

    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />

    <services>

    </services>
  
  </system.serviceModel>

  <appSettings>
	  
    <add key="FormatoFecha" value="8"/>

    <!-- Server mail -->
	<add key="smtp_host" value="smtp.office365.com"/>
	<add key="smtp_port" value="587"/>
    <add key="smtp_user" value="notificaciones@clinicadelamujer.com.co "/>
    <add key="smtp_password" value="Climujer2020*."/>
    <add key="from_email" value="notificaciones@clinicadelamujer.com.co "/>
    <add key="email_admisiones" value="admhosp@clinicadelamujer.com.co"/>
    <add key="email_dest0" value="jfacturacion@clinicadelamujer.com.co"/>
    <add key="email_dest1" value=""/>

	<add key="subject_individual" value="NOTIFICACIÓN DE SERVICIOS A EPS"/>
	<add key="body_Line1" value="Notificación de ingreso a Clínica de la Mujer - Paciente: "/>
	<add key="body_line_fecha" value="Fecha de ingreso: "/>
	<add key="body_line_paciente" value="Paciente: "/>
	<add key="Header_footer1" value="Atentamente"/>
	<add key="Header_footer2" value="ADMISIONES DE HOSPITALIZACIÓN"/>
	<add key="Header_footer3" value="CLÍNICA DE LA MUJER S.A.S. - Bogotá"/>
	<add key="Header_footer_generado" value="Generado por: Caronte - Clínica de la Mujer S.A.S."/>
    <!-- <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" /> -->

  </appSettings>

</configuration>
